body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u2228 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:622px;
}
#u2229 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2230 {
  position:absolute;
  left:450px;
  top:106px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2231 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2232 {
  position:absolute;
  left:450px;
  top:132px;
  width:714px;
  height:35px;
}
#u2233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2233 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2234 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2235 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2236 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2237 {
  position:absolute;
  left:450px;
  top:76px;
  width:712px;
  height:25px;
}
#u2238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u2238 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u2239 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:20px;
}
#u2240 {
  position:absolute;
  left:122px;
  top:0px;
  width:585px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2241 {
  position:absolute;
  left:2px;
  top:2px;
  width:581px;
  word-wrap:break-word;
}
#u2242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2242 {
  position:absolute;
  left:450px;
  top:50px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
