body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u2208 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:622px;
}
#u2209 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2210 {
  position:absolute;
  left:450px;
  top:106px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2211 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2212 {
  position:absolute;
  left:450px;
  top:132px;
  width:714px;
  height:65px;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2213 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2214 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2215 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2216 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2217 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2218 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2219 {
  position:absolute;
  left:122px;
  top:30px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2220 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2221 {
  position:absolute;
  left:450px;
  top:76px;
  width:712px;
  height:25px;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u2223 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:20px;
}
#u2224 {
  position:absolute;
  left:122px;
  top:0px;
  width:585px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2225 {
  position:absolute;
  left:2px;
  top:2px;
  width:581px;
  word-wrap:break-word;
}
#u2226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2226 {
  position:absolute;
  left:450px;
  top:50px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2227 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
