body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u1562 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:622px;
}
#u1563 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1564 {
  position:absolute;
  left:450px;
  top:50px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u1565 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1566 {
  position:absolute;
  left:450px;
  top:76px;
  width:714px;
  height:75px;
}
#u1567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1567 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u1568 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u1569 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1570 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u1571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1571 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1572 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u1573 {
  position:absolute;
  left:122px;
  top:30px;
  width:587px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1574 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u1575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1575 {
  position:absolute;
  left:0px;
  top:50px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1576 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u1577 {
  position:absolute;
  left:122px;
  top:50px;
  width:587px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1578 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u1579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1579 {
  position:absolute;
  left:450px;
  top:156px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u1580 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1581 {
  position:absolute;
  left:450px;
  top:182px;
  width:714px;
  height:65px;
}
#u1582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1582 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1583 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u1584 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1585 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u1586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1586 {
  position:absolute;
  left:0px;
  top:20px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1587 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1588_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u1588 {
  position:absolute;
  left:122px;
  top:20px;
  width:587px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1589 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u1590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1590 {
  position:absolute;
  left:0px;
  top:40px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1591 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u1592 {
  position:absolute;
  left:122px;
  top:40px;
  width:587px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1593 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u1594 {
  position:absolute;
  left:50px;
  top:75px;
  width:45px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1594_ann {
  position:absolute;
  left:88px;
  top:71px;
  width:1px;
  height:1px;
}
#u1595 {
  position:absolute;
  left:86px;
  top:617px;
  width:280px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1595_ann {
  position:absolute;
  left:359px;
  top:613px;
  width:1px;
  height:1px;
}
