body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u119 {
  position:absolute;
  left:50px;
  top:1548px;
  width:350px;
  height:622px;
}
#u120 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:1475px;
}
#u121 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:1475px;
}
#u122 {
  position:absolute;
  left:2px;
  top:730px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u123 {
  position:absolute;
  left:450px;
  top:50px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u125 {
  position:absolute;
  left:450px;
  top:76px;
  width:714px;
  height:358px;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u127 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u128 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u129 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u130 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u131 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u132 {
  position:absolute;
  left:122px;
  top:30px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u133 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u134 {
  position:absolute;
  left:0px;
  top:60px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u135 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u136 {
  position:absolute;
  left:122px;
  top:60px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u137 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u138 {
  position:absolute;
  left:0px;
  top:90px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u139 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u140 {
  position:absolute;
  left:122px;
  top:90px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u141 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u142 {
  position:absolute;
  left:0px;
  top:120px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u143 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u144 {
  position:absolute;
  left:122px;
  top:120px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u145 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:84px;
}
#u146 {
  position:absolute;
  left:0px;
  top:150px;
  width:122px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u147 {
  position:absolute;
  left:2px;
  top:34px;
  width:118px;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:84px;
}
#u148 {
  position:absolute;
  left:122px;
  top:150px;
  width:587px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u149 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:29px;
}
#u150 {
  position:absolute;
  left:0px;
  top:234px;
  width:122px;
  height:29px;
  color:#FF0000;
  text-align:left;
}
#u151 {
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:29px;
}
#u152 {
  position:absolute;
  left:122px;
  top:234px;
  width:587px;
  height:29px;
  color:#FF0000;
  text-align:left;
}
#u153 {
  position:absolute;
  left:2px;
  top:6px;
  width:583px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u154 {
  position:absolute;
  left:0px;
  top:263px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u155 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u156 {
  position:absolute;
  left:122px;
  top:263px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u157 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u158 {
  position:absolute;
  left:0px;
  top:293px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u159 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u160 {
  position:absolute;
  left:122px;
  top:293px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u161 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u162 {
  position:absolute;
  left:0px;
  top:323px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u163 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u164 {
  position:absolute;
  left:122px;
  top:323px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u165 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u166 {
  position:absolute;
  left:450px;
  top:571px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:450px;
  top:597px;
  width:714px;
  height:325px;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u170 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u171 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u172 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u173 {
  position:absolute;
  left:0px;
  top:20px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u174 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u175 {
  position:absolute;
  left:122px;
  top:20px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u176 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u177 {
  position:absolute;
  left:0px;
  top:50px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u178 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u179 {
  position:absolute;
  left:122px;
  top:50px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u180 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u181 {
  position:absolute;
  left:0px;
  top:80px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u182 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u183 {
  position:absolute;
  left:122px;
  top:80px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u184 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u185 {
  position:absolute;
  left:0px;
  top:110px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u186 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u187 {
  position:absolute;
  left:122px;
  top:110px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u188 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u189 {
  position:absolute;
  left:0px;
  top:140px;
  width:122px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u190 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:36px;
}
#u191 {
  position:absolute;
  left:122px;
  top:140px;
  width:587px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u192 {
  position:absolute;
  left:2px;
  top:10px;
  width:583px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u193 {
  position:absolute;
  left:0px;
  top:176px;
  width:122px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u194 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:36px;
}
#u195 {
  position:absolute;
  left:122px;
  top:176px;
  width:587px;
  height:36px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u196 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u197 {
  position:absolute;
  left:0px;
  top:212px;
  width:122px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u198 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:36px;
}
#u199 {
  position:absolute;
  left:122px;
  top:212px;
  width:587px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u200 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u201 {
  position:absolute;
  left:0px;
  top:248px;
  width:122px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u202 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:36px;
}
#u203 {
  position:absolute;
  left:122px;
  top:248px;
  width:587px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u204 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u205 {
  position:absolute;
  left:0px;
  top:284px;
  width:122px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u206 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:36px;
}
#u207 {
  position:absolute;
  left:122px;
  top:284px;
  width:587px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u208 {
  position:absolute;
  left:2px;
  top:10px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
}
#u209 {
  position:absolute;
  left:745px;
  top:227px;
  width:88px;
  height:24px;
}
#u210 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
}
#u211 {
  position:absolute;
  left:745px;
  top:256px;
  width:45px;
  height:22px;
}
#u212 {
  position:absolute;
  left:2px;
  top:3px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
}
#u213 {
  position:absolute;
  left:745px;
  top:286px;
  width:42px;
  height:20px;
}
#u214 {
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  position:absolute;
  left:50px;
  top:627px;
  width:350px;
  height:95px;
}
#u216 {
  position:absolute;
  left:2px;
  top:40px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_ann {
  position:absolute;
  left:393px;
  top:623px;
  width:1px;
  height:1px;
}
#u217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u217 {
  position:absolute;
  left:50px;
  top:1116px;
  width:350px;
  height:95px;
}
#u218 {
  position:absolute;
  left:2px;
  top:40px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217_ann {
  position:absolute;
  left:393px;
  top:1112px;
  width:1px;
  height:1px;
}
#u219 {
  position:absolute;
  left:450px;
  top:465px;
  width:714px;
  height:101px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u221 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:36px;
}
#u222 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:36px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u223 {
  position:absolute;
  left:2px;
  top:10px;
  width:583px;
  word-wrap:break-word;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u224 {
  position:absolute;
  left:0px;
  top:36px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u225 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u226 {
  position:absolute;
  left:122px;
  top:36px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u227 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u228 {
  position:absolute;
  left:0px;
  top:66px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u229 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u230 {
  position:absolute;
  left:122px;
  top:66px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u231 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u232 {
  position:absolute;
  left:450px;
  top:439px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:58px;
  top:401px;
  width:335px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u234_ann {
  position:absolute;
  left:386px;
  top:397px;
  width:1px;
  height:1px;
}
#u235 {
  position:absolute;
  left:340px;
  top:376px;
  width:53px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u235_ann {
  position:absolute;
  left:386px;
  top:372px;
  width:1px;
  height:1px;
}
#u236 {
  position:absolute;
  left:340px;
  top:530px;
  width:53px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u236_ann {
  position:absolute;
  left:386px;
  top:526px;
  width:1px;
  height:1px;
}
#u237 {
  position:absolute;
  left:340px;
  top:1003px;
  width:53px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u237_ann {
  position:absolute;
  left:386px;
  top:999px;
  width:1px;
  height:1px;
}
#u238 {
  position:absolute;
  left:199px;
  top:2129px;
  width:53px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u238_ann {
  position:absolute;
  left:245px;
  top:2125px;
  width:1px;
  height:1px;
}
#u239 {
  position:absolute;
  left:130px;
  top:2129px;
  width:53px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u239_ann {
  position:absolute;
  left:176px;
  top:2125px;
  width:1px;
  height:1px;
}
#u240 {
  position:absolute;
  left:333px;
  top:2129px;
  width:53px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u240_ann {
  position:absolute;
  left:379px;
  top:2125px;
  width:1px;
  height:1px;
}
#u241 {
  position:absolute;
  left:245px;
  top:281px;
  width:60px;
  height:61px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u241_ann {
  position:absolute;
  left:298px;
  top:277px;
  width:1px;
  height:1px;
}
