body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2188 {
  position:absolute;
  left:450px;
  top:106px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2189 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2190 {
  position:absolute;
  left:450px;
  top:132px;
  width:714px;
  height:65px;
}
#u2191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2192 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2193 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2194 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2195 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2196 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2197 {
  position:absolute;
  left:122px;
  top:30px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2198 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2199 {
  position:absolute;
  left:450px;
  top:76px;
  width:712px;
  height:25px;
}
#u2200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u2201 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:20px;
}
#u2202 {
  position:absolute;
  left:122px;
  top:0px;
  width:585px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2203 {
  position:absolute;
  left:2px;
  top:2px;
  width:581px;
  word-wrap:break-word;
}
#u2204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2204 {
  position:absolute;
  left:450px;
  top:50px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2205 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u2206 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:623px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
