body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u2112 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:622px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2114 {
  position:absolute;
  left:450px;
  top:170px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2115 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2116 {
  position:absolute;
  left:450px;
  top:196px;
  width:714px;
  height:125px;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2118 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2119 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2120 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2121 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2122 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2123 {
  position:absolute;
  left:122px;
  top:30px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2124 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:60px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2126 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2127 {
  position:absolute;
  left:122px;
  top:60px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2128 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:90px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2130 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2131 {
  position:absolute;
  left:122px;
  top:90px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2132 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2133 {
  position:absolute;
  left:450px;
  top:50px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2134 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2135 {
  position:absolute;
  left:450px;
  top:76px;
  width:714px;
  height:89px;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:84px;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u2137 {
  position:absolute;
  left:2px;
  top:34px;
  width:118px;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:84px;
}
#u2138 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:84px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2139 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
