body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u1858 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:623px;
}
#u1859 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860 {
  position:absolute;
  left:450px;
  top:76px;
  width:855px;
  height:85px;
}
#u1861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1861 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1862 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:20px;
}
#u1863 {
  position:absolute;
  left:122px;
  top:0px;
  width:728px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1864 {
  position:absolute;
  left:2px;
  top:2px;
  width:724px;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1865 {
  position:absolute;
  left:0px;
  top:20px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1866 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:20px;
}
#u1867 {
  position:absolute;
  left:122px;
  top:20px;
  width:728px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1868 {
  position:absolute;
  left:2px;
  top:2px;
  width:724px;
  word-wrap:break-word;
}
#u1869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1869 {
  position:absolute;
  left:0px;
  top:40px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1870 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:20px;
}
#u1871 {
  position:absolute;
  left:122px;
  top:40px;
  width:728px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1872 {
  position:absolute;
  left:2px;
  top:2px;
  width:724px;
  word-wrap:break-word;
}
#u1873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1873 {
  position:absolute;
  left:0px;
  top:60px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1874 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:728px;
  height:20px;
}
#u1875 {
  position:absolute;
  left:122px;
  top:60px;
  width:728px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1876 {
  position:absolute;
  left:2px;
  top:2px;
  width:724px;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1877 {
  position:absolute;
  left:450px;
  top:50px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u1878 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1879 {
  position:absolute;
  left:450px;
  top:314px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1881 {
  position:absolute;
  left:450px;
  top:340px;
  width:714px;
  height:25px;
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1883 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u1884 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1885 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
