body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u2072 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:623px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2074 {
  position:absolute;
  left:450px;
  top:50px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2076 {
  position:absolute;
  left:450px;
  top:76px;
  width:714px;
  height:65px;
}
#u2077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2077 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2078 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2079 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2080 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2082 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2083 {
  position:absolute;
  left:122px;
  top:30px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2084 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2085 {
  position:absolute;
  left:450px;
  top:146px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2087 {
  position:absolute;
  left:450px;
  top:172px;
  width:714px;
  height:155px;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2089 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2090 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2091 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2092 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2093 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2094 {
  position:absolute;
  left:122px;
  top:30px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2095 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2096 {
  position:absolute;
  left:0px;
  top:60px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2097 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2098 {
  position:absolute;
  left:122px;
  top:60px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2099 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2100 {
  position:absolute;
  left:0px;
  top:90px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2101 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2102 {
  position:absolute;
  left:122px;
  top:90px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2103 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2104 {
  position:absolute;
  left:0px;
  top:120px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2105 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2106 {
  position:absolute;
  left:122px;
  top:120px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2107 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2108 {
  position:absolute;
  left:50px;
  top:237px;
  width:350px;
  height:77px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:30px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110 {
  position:absolute;
  left:50px;
  top:74px;
  width:50px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2110_ann {
  position:absolute;
  left:93px;
  top:70px;
  width:1px;
  height:1px;
}
#u2111 {
  position:absolute;
  left:350px;
  top:74px;
  width:50px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2111_ann {
  position:absolute;
  left:393px;
  top:70px;
  width:1px;
  height:1px;
}
