body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:622px;
}
#u1459 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:622px;
}
#u1460 {
  position:absolute;
  left:2px;
  top:303px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1461 {
  position:absolute;
  left:450px;
  top:50px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u1462 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1463 {
  position:absolute;
  left:450px;
  top:76px;
  width:714px;
  height:55px;
}
#u1464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1464 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u1465 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u1466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u1466 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1467 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u1468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1468 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1469 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u1470 {
  position:absolute;
  left:122px;
  top:30px;
  width:587px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1471 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1472 {
  position:absolute;
  left:450px;
  top:136px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u1473 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1474 {
  position:absolute;
  left:450px;
  top:162px;
  width:714px;
  height:45px;
}
#u1475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1475 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1476 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u1477 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1478 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u1479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u1479 {
  position:absolute;
  left:0px;
  top:20px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u1480 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u1481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u1481 {
  position:absolute;
  left:122px;
  top:20px;
  width:587px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u1482 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u1483 {
  position:absolute;
  left:50px;
  top:75px;
  width:45px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1483_ann {
  position:absolute;
  left:88px;
  top:71px;
  width:1px;
  height:1px;
}
#u1484 {
  position:absolute;
  left:84px;
  top:466px;
  width:282px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1484_ann {
  position:absolute;
  left:359px;
  top:462px;
  width:1px;
  height:1px;
}
