body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1169px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u59 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:623px;
}
#u60 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u61 {
  position:absolute;
  left:50px;
  top:700px;
  width:350px;
  height:623px;
}
#u62 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u63 {
  position:absolute;
  left:460px;
  top:60px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:460px;
  top:86px;
  width:714px;
  height:261px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:84px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u67 {
  position:absolute;
  left:2px;
  top:34px;
  width:118px;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:84px;
}
#u68 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:84px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u69 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:52px;
}
#u70 {
  position:absolute;
  left:0px;
  top:84px;
  width:122px;
  height:52px;
  color:#FF0000;
  text-align:left;
}
#u71 {
  position:absolute;
  left:2px;
  top:18px;
  width:118px;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:52px;
}
#u72 {
  position:absolute;
  left:122px;
  top:84px;
  width:587px;
  height:52px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:68px;
}
#u74 {
  position:absolute;
  left:0px;
  top:136px;
  width:122px;
  height:68px;
  color:#FF0000;
  text-align:left;
}
#u75 {
  position:absolute;
  left:2px;
  top:26px;
  width:118px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:68px;
}
#u76 {
  position:absolute;
  left:122px;
  top:136px;
  width:587px;
  height:68px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:52px;
}
#u78 {
  position:absolute;
  left:0px;
  top:204px;
  width:122px;
  height:52px;
  color:#FF0000;
  text-align:left;
}
#u79 {
  position:absolute;
  left:2px;
  top:18px;
  width:118px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:52px;
}
#u80 {
  position:absolute;
  left:122px;
  top:204px;
  width:587px;
  height:52px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u82_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u82 {
  position:absolute;
  left:460px;
  top:352px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:460px;
  top:378px;
  width:714px;
  height:215px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u86 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u87 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u88 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u89 {
  position:absolute;
  left:0px;
  top:20px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u90 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u91 {
  position:absolute;
  left:122px;
  top:20px;
  width:587px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u92 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u93 {
  position:absolute;
  left:0px;
  top:40px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u94 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:20px;
}
#u95 {
  position:absolute;
  left:122px;
  top:40px;
  width:587px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u96 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u97 {
  position:absolute;
  left:0px;
  top:60px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u99 {
  position:absolute;
  left:122px;
  top:60px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u101 {
  position:absolute;
  left:0px;
  top:90px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u103 {
  position:absolute;
  left:122px;
  top:90px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u105 {
  position:absolute;
  left:0px;
  top:120px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u107 {
  position:absolute;
  left:122px;
  top:120px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u109 {
  position:absolute;
  left:0px;
  top:150px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u111 {
  position:absolute;
  left:122px;
  top:150px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u113 {
  position:absolute;
  left:0px;
  top:180px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u115 {
  position:absolute;
  left:122px;
  top:180px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:349px;
  top:75px;
  width:45px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u117_ann {
  position:absolute;
  left:387px;
  top:71px;
  width:1px;
  height:1px;
}
#u118 {
  position:absolute;
  left:50px;
  top:75px;
  width:45px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u118_ann {
  position:absolute;
  left:88px;
  top:71px;
  width:1px;
  height:1px;
}
