body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:623px;
}
#u2140 {
  position:absolute;
  left:50px;
  top:50px;
  width:350px;
  height:623px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:304px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2142 {
  position:absolute;
  left:450px;
  top:106px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2144 {
  position:absolute;
  left:450px;
  top:132px;
  width:712px;
  height:95px;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2146 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:30px;
}
#u2147 {
  position:absolute;
  left:122px;
  top:0px;
  width:585px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2148 {
  position:absolute;
  left:2px;
  top:7px;
  width:581px;
  word-wrap:break-word;
}
#u2149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2150 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:30px;
}
#u2151 {
  position:absolute;
  left:122px;
  top:30px;
  width:585px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2152 {
  position:absolute;
  left:2px;
  top:7px;
  width:581px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2153 {
  position:absolute;
  left:0px;
  top:60px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2154 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:30px;
}
#u2155 {
  position:absolute;
  left:122px;
  top:60px;
  width:585px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2156 {
  position:absolute;
  left:2px;
  top:7px;
  width:581px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2157 {
  position:absolute;
  left:450px;
  top:334px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2159 {
  position:absolute;
  left:450px;
  top:360px;
  width:714px;
  height:65px;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2161 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2162 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2163 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2164 {
  position:absolute;
  left:0px;
  top:30px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2165 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2166 {
  position:absolute;
  left:122px;
  top:30px;
  width:587px;
  height:30px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2167 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  word-wrap:break-word;
}
#u2168 {
  position:absolute;
  left:450px;
  top:258px;
  width:714px;
  height:71px;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
}
#u2169 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:36px;
  color:#FF0000;
  text-align:left;
}
#u2170 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u2171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:36px;
}
#u2171 {
  position:absolute;
  left:122px;
  top:0px;
  width:587px;
  height:36px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2172 {
  position:absolute;
  left:2px;
  top:2px;
  width:583px;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u2173 {
  position:absolute;
  left:0px;
  top:36px;
  width:122px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2174 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:587px;
  height:30px;
}
#u2175 {
  position:absolute;
  left:122px;
  top:36px;
  width:587px;
  height:30px;
  color:#FF0000;
  text-align:left;
}
#u2176 {
  position:absolute;
  left:2px;
  top:7px;
  width:583px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2177 {
  position:absolute;
  left:450px;
  top:232px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2178 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2179 {
  position:absolute;
  left:450px;
  top:76px;
  width:712px;
  height:25px;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
}
#u2180 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:20px;
  color:#FF0000;
  text-align:left;
}
#u2181 {
  position:absolute;
  left:2px;
  top:2px;
  width:118px;
  word-wrap:break-word;
}
#u2182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:20px;
}
#u2182 {
  position:absolute;
  left:122px;
  top:0px;
  width:585px;
  height:20px;
  font-size:14px;
  color:#FF0000;
  text-align:left;
}
#u2183 {
  position:absolute;
  left:2px;
  top:2px;
  width:581px;
  word-wrap:break-word;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2184 {
  position:absolute;
  left:450px;
  top:50px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2186 {
  position:absolute;
  left:50px;
  top:305px;
  width:350px;
  height:62px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:23px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
